# We use log4j2
lombok.log.apacheCommons.flagUsage=error
lombok.log.log4j.flagUsage=error
lombok.log.slf4j.flagUsage=error
lombok.log.xslf4j.flagUsage=error

#tells lombok this is the root director
config.stopBubbling = true
#instructs lombok to add "@lombok.Generated" annotation to generated methods (so that it's filtered from JaCoCo)
lombok.addLombokGeneratedAnnotation = true